@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  height:80vh
}

/* Tailwind animation for fade in */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}